
    <div class="" ng-init="allusersInicio()">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                        <div class="col-md-3 col-sm-5 col-xs-7 form-group  top_search">
                            <div class="input-group">
                                <input type="text" id="id_user" class="form-control" placeholder="Identificador...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" ng-click= "Bucar_User_Id()" type="button">Buscar!</button>
                    </span>
                            </div>
                        </div>

                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Usuarios</h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">

                                    <p>Seleccionar para realizar una accion</p>

                                    <div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action" >
                                            <thead>
                                            <tr class="headings">

                                                <th class="column-title">Id_Usuario </th>
                                                <th class="column-title" style="text-align:center;">Nombre </th>
                                                <th class="column-title" >Contraseña </th>
                                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                                </th>
                                                <th class="bulk-actions" colspan="7">
                                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr class="even pointer" ng-repeat="x in user">

                                                <td class=" " > {{x.ID_USER}}</td>
                                                <td class=" " >{{x.USER}} </td>
                                                <td class=" " >{{x.CONTRASENIA}} </i></td>
                                                <td class=" last"><a ng-click="modialluser(x)">Modificar</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
