
    <div class="" ng-init="estadoMatriculaInicio()" style="text-align:center;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Estado de Matricula</h2>
                        <div class="clearfix"></div>
                    </div>
                    <br>
                        <h6 style="text-align: justify" >En esta ventana usted podra activar/desactivar la acción de relaizar pre-matriculas desde la pagina web, solo active durante epoca de matriculas.</h6>
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                              <div class="">
                                <div class="product_price" >
                                <h1 class="price" id="estado_matri" style="text-align:center;"></h1>
                                <span class="price-tax" style="text-align:center;">Estado Actual</span>
                                <br>
                                </div>
                                </div>

                              <div class="">
                              <button type="button" class="btn btn-warning " ng-click="modificarEstadoMatricula('no')" >Desactivar</button>
                              <button type="button" class="btn btn-success " ng-click="modificarEstadoMatricula('si')">  Activar  </button>
                              </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>



















