 <div class="col-md-12 col-xs-12" ng-init="updateLunchInicio()" ng-submit="modificarLunch(lunch)">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Modificar Lunch</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Descripcion</label>
                        <div class="col-md-4 col-sm-9 col-xs-12">
                          <input type="text" class="form-control" id="nombre_nivel" ng-model="lunch.DESCRIPCION_REFRI" placeholder="Descripcion" required>
                        </div>
                      </div>
                          <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Precio</label>
                        <div class="col-md-2 col-sm-9 col-xs-12">
                          <input type="number" class="form-control" id="canti_estu" ng-model="lunch.PRECIO" placeholder="Unidades" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Estado</label>
                        <div class="col-md-3 col-sm-9 col-xs-12">
                          <select class="form-control" id="select_nivel">
                            <option>No Disponible</option>
                            <option>Disponible</option>
                          </select>
                        </div>
                      </div>
                  

                       <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="reset" class="btn btn-primary" ng-click="CancelarLunch()">Cancel</button>
                                    <button type="submit" class="btn btn-success" >Modificar</button>
                                </div>
                            </div>
                     

                    </form>
                  </div>
                </div>
              </div>